:root {
  --font-family-main: "Poppins", "Times New Roman", Serif;

  --font-size-s: 16px;
  --font-line-s: 24px;
  --font-s: var(--font-size-s) / var(--font-line-s) var(--font-family-main);

  --font-size-m: 20px;
  --font-line-m: 28px;
  --font-m: var(--font-size-m) / var(--font-line-m) var(--font-family-main);

  --font-size-l: 24px;
  --font-line-l: 32px;
  --font-l: var(--font-size-l) / var(--font-line-l) var(--font-family-main);

  --font-size-xl: 40px;
  --font-line-xl: 48px;
  --font-xl: var(--font-size-xl) / var(--font-line-xl) var(--font-family-main);

  --font-regular: 400;
  --font-medium: 500;
  --font-semibold: 600;
  //Размеры

  --navbar-height: 50px;

  --sidebar-width: 300px;
  --sidebar-width-collapsed: 80px;

  //
  --modal-z-index: 10;

  --error-primary: #d40707;
  --error-secondary: #9b0505;

  //
  --login-form:
    linear-gradient(rgba(200, 90, 86, 0.5), rgba(200, 90, 86, 0.5)),
    rgba(216, 176, 176, 0.5);
}
