.EventTimelineItem {
  margin-bottom: 25px;
  opacity: 0;
  transform: translateY(10px);
  animation: fadeIn 0.25s ease forwards;
}

.CopySvg path:nth-child(1) {
  fill: var(--secondary-color);
}

.CopySvg path:nth-child(2) {
  stroke: var(--secondary-color);
  stroke-width: 1.80714;
}

.item {
  margin-bottom: 20px;
}

@keyframes fadeIn {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
