.Sidebar {
  position: relative;

  width: var(--sidebar-width);
  height: 100vh;

  background: var(--sidebar-color);
  transition: width 0.3s linear;
}

.header {
}

.switchers {
  position: absolute;
  bottom: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.language {
  margin-left: 10px;
}

.collapsed {
  width: var(--sidebar-width-collapsed);
  .link {
    opacity: 0;
    width: 0;
    transition: width 0.3s;
  }
  .switchers {
    flex-direction: column;
  }
  .language {
    margin-left: 0px;
  }
}

.collapsedBtn {
  // position: absolute;
  // right: -32px;
  // bottom: 40px;
}

.items {
  display: flex;
  flex-direction: column;
  margin-left: 30px;
  gap: 10px;
}

.item {
  display: flex;
  align-items: center;
  gap: 20px;
}

.searchWrapper {
  margin: 0 30px;
  padding: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid rgba(var(--primary-color-rgb), 0.11);
  gap: 20px;
  border-radius: 36px;
}

.searchSvg {
  fill: none;
  stroke: var(--primary-color);
  stroke-width: 1.6px;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-opacity: 0.3;
  flex-shrink: 0;
}

.searchInput {
  width: 100%;
}
