.entry {
  display: flex;
  justify-content: center;
  margin-bottom: 70px;
}

.loginWrapper {
  margin-bottom: 25px;
}

.loginText {
  font-weight: 600;
}

.inputLogin {
  border-radius: 24px;
  height: 60px;
  width: 100%;
  padding: 20px;
}

.passwordWrapper {
  margin-bottom: 15px;
}
.inputPassword {
  border-radius: 24px;
  height: 60px;
  width: 100%;
  padding: 20px;
}

.withError {
  margin-bottom: 15px;
}

.errorWrapper {
  margin-bottom: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: calc(var(--font-line-m) * 2);
}

.error {
  max-width: var(--login-error-width);
}

.error p {
  overflow: hidden;
  word-break: break-word;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  line-clamp: 2;
}

.buttonsWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.loginBtn {
  margin-bottom: 45px;
  border-radius: 24px;
  height: 60px;
  min-width: 60%;
}

.registrationBtn {
}
