.Text {
}

.primary,
.semi_primary_high,
.semi_primary_low {
  color: var(--primary-color);
}

.semi_primary_high {
  opacity: var(--semi-primary-opacity-high);
}

.semi_primary_low {
  opacity: var(--semi-primary-opacity-low);
}

.inverted_primary {
  color: var(--inverted-primary-color);
}

.secondary {
  color: var(--secondary-color);
}

.error {
  .title {
    color: var(--error-primary);
  }
  .text {
    color: var(--error-secondary);
  }
}

.size_xs {
  .title {
    font-size: var(--font-size-s);
    line-height: var(--font-line-s);
  }
  .text {
    font-size: var(--font-size-xs);
    line-height: var(--font-line-xs);
  }
}

.size_s {
  .title {
    font-size: var(--font-size-m);
    line-height: var(--font-line-m);
  }
  .text {
    font-size: var(--font-size-s);
    line-height: var(--font-line-s);
  }
}

.size_m {
  .title {
    font-size: var(--font-size-l);
    line-height: var(--font-line-l);
  }
  .text {
    font-size: var(--font-size-m);
    line-height: var(--font-line-m);
  }
}

.size_l {
  .title {
    font-size: var(--font-size-xl);
    line-height: var(--font-line-xl);
  }
  .text {
    font-size: var(--font-size-l);
    line-height: var(--font-line-l);
  }
}

.size_xl {
  .title {
    font-size: var(--font-size-2xl);
    line-height: var(--font-line-2xl);
  }
  .text {
    font-size: var(--font-size-xl);
    line-height: var(--font-line-xl);
  }
}

.size_2xl {
  .title {
    font-size: var(--font-size-3xl);
    line-height: var(--font-line-3xl);
  }
  .text {
    font-size: var(--font-size-2xl);
    line-height: var(--font-line-2xl);
  }
}

.size_3xl {
  .title {
    font-size: var(--font-size-4xl);
    line-height: var(--font-line-4xl);
  }
  .text {
    font-size: var(--font-size-3xl);
    line-height: var(--font-line-3xl);
  }
}

.size_4xl {
  .title {
    font-size: var(--font-size-5xl);
    line-height: var(--font-line-5xl);
  }
  .text {
    font-size: var(--font-size-4xl);
    line-height: var(--font-line-4xl);
  }
}

.size_5xl {
  .title {
    font-size: var(--font-size-6xl);
    line-height: var(--font-line-6xl);
  }
  .text {
    font-size: var(--font-size-5xl);
    line-height: var(--font-line-5xl);
  }
}

.size_6xl {
  .title {
    font-size: var(--font-size-7xl);
    line-height: var(--font-line-7xl);
  }
  .text {
    font-size: var(--font-size-6xl);
    line-height: var(--font-line-6xl);
  }
}


.size_11xl {
  .title {
    font-size: var(--font-size-12xl);
    line-height: var(--font-line-12xl);
  }
  .text {
    font-size: var(--font-size-11xl);
    line-height: var(--font-line-11xl);
  }
}

.left {
  text-align: left;
}

.center {
  text-align: center;
}

.right {
  text-align: right;
}

.regular {
  font-weight: var(--font-regular);
}

.medium {
  font-weight: var(--font-medium);
}

.semibold {
  font-weight: var(--font-semibold);
}
