.Text {
}

.primary {
  color: var(--primary-color);
}

.semi_primary {
  color: var(--semi-primary-color);
}

.error {
  .title {
    color: var(--error-primary);
  }
  .text {
    color: var(--error-secondary);
  }
}

.size_m {
  .title {
    font: var(--font-l);
  }
  .text {
    font: var(--font-m);
  }
}

.size_l {
  .title {
    font: var(--font-xl);
  }
  .text {
    font: var(--font-l);
  }
}

.size_xl {
  .title {
    font: var(--font-2xl);
  }
  .text {
    font: var(--font-xl);
  }
}

.size_2xl {
  .title {
    font: var(--font-3xl);
  }
  .text {
    font: var(--font-2xl);
  }
}

.size_3xl {
  .title {
    font: var(--font-4xl);
  }
  .text {
    font: var(--font-3xl);
  }
}

.size_4xl {
  .title {
    font: var(--font-5xl);
  }
  .text {
    font: var(--font-4xl);
  }
}

.left {
  text-align: left;
}

.center {
  text-align: center;
}

.right {
  text-align: right;
}
