S3_ACCESS_KEY=117df09c36b64be4b8f86612304325719cf
S3_SECRET_KEY=1545c8e8c6fa454d1238f387a5e8935fd65
S3_ENDPOINT_URL=https://s3.ru-7.storage.selcloud.ru
S3_BUCKET_NAME=project
POSTGRES_CONNECT_ASYNC=postgresql+asyncpg://user:user@localhost:5432/AiTheanaDB
POSTGRES_CONNECT_SYNC=postgresql+psycopg2://user:user@localhost:5432/AiTheanaDB
POSTGRES_DB=AiTheanaDB
POSTGRES_USER=user
POSTGRES_PASSWORD=user
JWT_ACCESS_SECRET=V7BDGuoF9q123123sCHGvZqk5DUfSgY19zjAwQpRKlxydlmeMiY
JWT_REFRESH_SECRET=123DGu100qsCHG112vZqk5DUfSgYzjAwQp1KlxydlmeMiY
JWT_ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=60
REFRESH_TOKEN_EXPIRE_DAYS=90
MAIL_USER=pochta@yandex.ru
MAIL_PASSWORD=qcqlbhcjfuxa
SMTP_SERVER=smtp.yandex.com
SMTP_PORT=587
REDIS_CONNECT_EMAIL=redis://localhost:6379/0
REDIS_CONNECT_CELERY=redis://localhost:6379/1
AI_KEY=sk-pulsb12311lO0zSe14h02dkA
AI_URL=https://
REDIS_PASSWORD=user