.Navbar {
  // width: 100%;
  height: var(--navbar-height);
  display: flex;
  align-items: center;
  padding: 35px 120px 0px 120px;
  margin-bottom: 165px;
  // width: 1000px;

}

.loginBtn {
  margin-left: auto;
}

// .links {
//   display: flex;
//   margin-left: auto;
//   margin-right: 10px;
//   gap: 10px;
// }
