.ArticleBlockCodeComponent {
  background-color: var(--code-bg);
  border: 1px solid #000000;
  max-width: 100%;
  padding: 10px 40px 10px 20px;
  width: 100%;
  overflow: auto;
  position: relative;
}

.copyBtn {
  position: absolute;
  right: 20px;
  top: 20px;
  stroke: var(--primary-color);
  fill: var(--code-bg);
}
