.ArticleDetails {
}

.avatar {
  margin-bottom: 20px;
}

.avatarWrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}

.skeleton {
  margin-bottom: 20px;
}

.views {
  display: flex;
  align-items: center;
  gap: 5px;
}

.calendar {
  display: flex;
  align-items: center;
  gap: 5px;
  margin-bottom: 10px;
}

.block {
  margin-bottom: 20px;
}
