* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

input,
button,
textarea,
select {
  margin: 0;
  font: inherit;
}

::-webkit-scrollbar {
  width: 10px; /* Ширина всего элемента навигации */
}

::-webkit-scrollbar-track {
  background: var(--scrollbar-track); /* Цвет дорожки */
  border-radius: 20px;
}

::-webkit-scrollbar-thumb {
  background: rgba(var(--secindary-color-rgb), 1); /* Цвет дорожки */

  border-radius: 20px;
}

// .input {
//   border-bottom: none;
//   outline: none;
// }
