.Input {
  outline: none;
  background: transparent;
  border: none;
  // color: var(--primary-color);
}

.primary {
  background: var(--inverted-primary-color);
}

.clear {
  padding: 0px;
  border: none;
  background: none;
  outline: none;
  background: none;
  color: var(--primary-color);
  opacity: var(--semi-primary-opacity);
}

.inputWrapper {
  gap: 5px;
  display: flex;
  justify-content: left;
  flex-grow: 1;
}

// .placeholder {
//   color: var(--primary-color);
// }
