:root {
  // --bg-color: #e8e8ea;
  // --inverted-bg-color: #090949;
  --primary-color: rgba(13, 12, 12, 1);
  // --secondary-color: ;
  --inverted-primary-color: rgba(246, 239, 239, 1);
  // --inverted-secondary-color: #049604;
  //skeleton
  --skeleton-color: #fff;
  --skeleton-shadow: rgba(0 0 0 / 20%);

  // code
  --code-bg: #fff;

  //card
  --card-bg: #d8d8e4;
}
