.container {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: text;
  margin-left: auto;
  margin-right: auto;
}

.cells {
  display: flex;
  gap: 8px;
}

.cell {
  width: 53px;
  height: 53px;
  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;
}

.dot {
  width: 1em;
  height: 1em;
  border-radius: 50%;
  background: var(--primary-color);
  opacity: 0.24;
}

.hiddenInput {
  position: absolute;
  opacity: 0;
  pointer-events: none;
}

.disabled {
  opacity: 0.5;
  pointer-events: none;
}

.active::before {
  content: "";
  margin: right;
  width: 1px;
  height: 50%;
  background: var(--primary-color);
  position: absolute;
  left: 1px;
  animation: blink 1s infinite;
}

@keyframes blink {
  0%,
  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}