.ArticleListItem {
}

.LIST {
  .header {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }

  .avatar {
    margin-right: 15px;
  }
  .username {
  }
  .date {
    margin-left: auto;
  }
  .title {
    margin-bottom: 10px;
  }
  .types {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 10px;
  }
  .imageWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
  }
  .image {
    width: 100%;
    max-height: 250px;
    object-fit: cover;
  }
  .block {
    margin-bottom: 50px;
    max-height: 200px;
    overflow: hidden;
  }
  .footer {
    display: flex;
    align-items: center;
  }
  .views {
    margin-left: auto;
    margin-right: 5px;
  }
}

.TILE {
  width: 230px;
  transition: 0.3s;
  cursor: pointer;

  .date {
    position: absolute;
    top: 10px;
    right: 10px;
    display: none;
  }

  &:hover {
    opacity: 0.8;
    transform: scale(1.01);

    .date {
      display: block;
    }
  }

  .imageWrapper {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5px;
  }

  .image {
    max-width: 200px;
    height: 200px;
    object-fit: cover;
  }

  .infoWrapper {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
  }

  .types p {
    width: 130px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .views {
    margin-left: auto;
    margin-right: 5px;
  }

  .title p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
